main {
  display: grid;
  justify-items: center;
  padding-top: 32px;
  padding-inline: 12px;

  @media screen and (min-width: 768px) {
    margin: 0 auto;
    max-width: 1024px;
  }
}

#logo {
  height: 48px;
  width: auto;
  margin-bottom: 16px;
}

#main-content {
  margin: 20px 0;
  width: 100%;
  display: grid;
  gap: 8px;

  grid-template-areas:
    "info"
    "loyalty"
    "count"
    "historic";

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 2fr;

    grid-template-areas:
      "info loyalty loyalty"
      "historic loyalty loyalty"
      "historic count count";
  }
}
